.profile-page {
  min-height: calc(100vh - ($navbar-height + $footer-height));
  padding: $padding-to-navbar 4em 1.5em 4em;
  background-color: $alabaster;

  display: grid;
  grid-template-columns: 15em 1fr;
  grid-template-rows: repeat(4, min-content);
}
