@import 'utils/variables.scss';

.tile {
  padding: 1.5em;

  background-color: $snow;
  border-radius: 0.5em;
}

.tile--shadow {
  box-shadow: 0 0 8px 8px #0000000d;
}

.tile--shadow-light {
  box-shadow: 0 18px 32px 0 #d0d2da26;
}
