.offers-banner {
  padding: 1.5em 5em;
  border-radius: 0.5em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .offers-banner__title {
    font-size: 1.75em;
    font-weight: 500;
    color: $snow;

    margin-right: 2em;
    white-space: nowrap;
  }

  .offers-banner__list {
    list-style-type: none;

    display: flex;
    align-items: center;

    .offers-banner__list-item:not(:last-child) {
      margin-right: 3em;
    }
  }

  @include for-desktop {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .offers-banner__title {
      margin: unset;
    }

    .offers-banner__list-item {
      & > img {
        height: 3em;
        width: 3em;
      }
    }
  }
}
