@import 'utils/variables';

.offers-layout {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - ($navbar-height + $footer-height));
  padding: 0 4em;

  .offers-content__pagination {
    margin-top: auto;
  }
}

.offers-content {
  display: flex;
  gap: 1em;

  & > * {
    flex-basis: 50%;
  }

  margin-bottom: 2.5em;
}
