@import 'utils/variables';

.offers-content {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - ($navbar-height + $footer-height));
  padding: 0 4em;

  .offers-content__pagination {
    margin-top: auto;
  }
}
