.btn {
  height: fit-content;
  padding: 0.625em 1.25em;

  color: $snow;
  font-size: 1.125em;

  border: 0;
  border-radius: 2px;

  transition: 0.15s background-color ease-in;

  &:hover {
    background-color: $primary-color--light;
  }

  &:disabled {
    background-color: $moon;
  }
}

.btn--outline {
  background-color: white;
  color: $primary-color;

  border: 1px solid;

  &:hover {
    color: white;
    background-color: $primary-color--light;
    border-color: $primary-color--light;
  }
}
