@import 'utils/variables.scss';

.offer-card-tile {
  display: flex;
  align-items: center;

  padding: 1em 2em;

  background-color: $snow;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 0 0.3em 0.3em rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
  overflow: hidden;

  &:hover {
    box-shadow: 0 0 0.5em 0.5em rgba(69, 165, 138, 0.3);
  }

  .offer-card-tile__image {
    width: 50px;
    height: 50px;
    border-radius: 0.25em;
  }

  .offer-card-tile__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

    margin: 0 1.5em;

    .offer-card-tile__title {
      font-size: 1.3em;
      font-weight: 500;
    }

    .offer-card-tile__company-items {
      display: flex;
      align-items: center;
      font-size: 0.9em;
      color: $devil;

      .offer-card-tile__company {
        margin-left: 0.5em;
      }
    }
  }

  .offer-card-tile__extra-details {
    margin-left: auto;

    .offer-card-tile__salary {
      font-size: 1.2em;
      color: $pistachio;
      text-align: right;
    }
  }
}
