.offer-content__offer-details {
  position: sticky;
  top: $scroll-padding-top;

  height: fit-content;
  max-height: 85vh;
  overflow-y: auto;
  padding: 0.5em;
  background-color: $alabaster;

  border-radius: 0.5em;
  box-shadow: 0 0 0.2em 0.2em rgba(0, 0, 0, 0.05);

  .offer-details__items {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .offer-details__apply{
    display: flex;
    justify-content: center;
    padding: 1em 0 0;

    .offer-details__apply-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25em;
      width: 50%;
    }
  }

  @include for-desktop {
    display: none;
  }
}

.offer-content__no-details {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em;
  background-color: $alabaster;

  border-radius: 0.5em;
  box-shadow: 0 0 0.2em 0.2em rgba(0, 0, 0, 0.05);

  .offer-details__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    font-size: 1em;
    text-align: center;

    & > svg {
      width: 10em;
      height: 10em;
    }
  }

  @include for-desktop {
    display: none;
  }
}
