@import 'utils/variables.scss';

.settings-page-menu {
  position: sticky;

  top: $scroll-padding-top;

  .settings-page-menu__profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.2em;

    .settings-page-menu__image {
      width: 5em;
      height: 5em;
      object-fit: cover;

      margin-bottom: 1em;
      border-radius: 50%;
      background-image: url("../../../assets/images/img-placeholder1.png");
      background-size: contain;
    }

    .settings-page-menu__logout {
      font-size: 0.85em;
      color: $error-color;
      cursor: pointer;
      margin-top: 0.85em;
    }
  }
}
