$carbon: #333333;
$devil: #666666de;
$pigeon: #a5a5a5;
$moon: #d8d8d8;
$fog: #e9e8e8;
$bright-gray: #E4E8F0;
$alabaster: #f6f6f6;
$snow: #ffffff;

$primary-color: #5bcaac;
$primary-color--light: #74e2c4;
$error-color: #9b0006;
$pistachio: #48BB78;
$gold: #FFD800;

$lazur: #45a58a;
$dark-sea: #5bcaac;

$navbar-height: 4.375em;
$padding-to-navbar: 1.5em;
$footer-height: 2em;
$scroll-padding-top: calc($navbar-height + $padding-to-navbar);
